body.dark-mode {
  background-color: #222;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4 {
  color: #fff;
}

body.dark-mode .section-title {
  color: #fff;
}

body.dark-mode p {
  color: #b7b7b7;
}

/* HEADER */
body.dark-mode header.nav-fixed {
  background-color: #222;
  color: #fff;
}

body.dark-mode .nav-fixed .navbar-brand {
  color: #fff;
}

body.dark-mode .mode-container:hover {
  color: #fff;
}

body.dark-mode .nav-fixed ul#menu {
  color: #fff;
}

/* BANNER */
body.dark-mode .banner-left h2 {
  color: #0b0d0e;
}

body.dark-mode .banner-left__content h3 {
  color: #fff;
}

/* FEATURES */
body.dark-mode .txt-para {
  color: #b7b7b7;
}

body.dark-mode #features .item-container {
  background-color: #222;
  box-shadow: 0 1rem 3rem rgb(23, 19, 19);
}

body.dark-mode .f-right-grid .item-container a {
  color: #fff;
}

body.dark-mode .f-right-grid .item-container a:hover {
  color: #009f4d;
  transition: 0.5s;
}

/* SERVICES */
body.dark-mode #services .card-wrap-idea {
  background-color: #222;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

body.dark-mode .imginfo__box p {
  color: #fff;
}

/* TESTIMONIAL */
body.dark-mode .owl-dot span {
  opacity: 0.3;
}

/* FOOTER */
body.dark-mode .subscribe input[type="email"] {
  background: #0b0d0e;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* MEDIA QUERRY */
@media (max-width: 768px) {
  body.dark-mode .banner-left__content {
    background-color: #222;
  }
}

@media (max-width: 480px) {
  body.dark-mode .nav-fixed .navbar-brand {
    color: #fb811e;
  }

  .navbar .navbar-brand {
    color: #fff;
  }
}
