html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: rgb(251, 129, 30);
  --font-volkhov: "Volkhov", serif;
  --font-sans: "Source Sans Pro", sans-serif;
}

body,
input {
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #060606;
  line-height: 28px;
  font-family: var(--font-volkhov);
  margin: 0;
}

h5.small-header {
  color: var(--primary-color);
  font-size: 22px;
}

p {
  color: #707070;
<<<<<<< HEAD
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 27px;
  color: #707070;
=======
  font-size: 17px;
  line-height: 27px;
  margin: 0;
  padding: 0;
>>>>>>> 59f2bb3 (Hoan thanh)
}

a:hover {
  text-decoration: none;
}

.btn-style {
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: var(--primary-color);
  border: none;
  color: #fff !important;
  border-radius: 30px;
}

.btn-style:hover {
  background: #009f4d;
  color: #ffffff;
}

.section-title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}
/* HEADER */

input[type="search"] {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

[type="search"] {
  outline-offset: -2px;
}

header.main-header {
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
}

header.main-header .navbar {
  padding: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

header.nav-fixed {
  padding: 0px;
  border-bottom: none;
  /* z-index: 99 !important; */
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  height: 70px;
  color: #000;
}

.container > nav {
  justify-content: space-between;
  box-shadow: none;
  border-radius: 0px;
}

.main-header .navbar-brand,
a.logo {
  font-size: 32px;
  line-height: 28px;
  font-weight: 400;
  padding: 0px;
  position: relative;
  color: var(--primary-color);
}

.main-header.nav-fixed .navbar-brand {
  color: #060606;
}

.main-header .navbar-brand i,
a.logo i {
  position: absolute;
  top: -11px;
  left: 55px;
  font-size: 20px;
}

a.logo i {
  top: -5px;
}

.navbar .search-right {
  margin: 0 10px 0 10px;
}

.search-right input[type="search"] {
  background: #fff
    url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/search.png)
    no-repeat 10px center;
  border: solid 1px #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;

  border-radius: 10em;

  transition: all 0.5s;
  cursor: pointer;
}

#demo-2 input[type="search"]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
  outline: none;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}

.theme-switch input {
  display: none;
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/*-- //toggle switch --*/
/* //bootstrap */
/*-- dark and light mode styling --*/
.mode-container {
  width: 24px;
  height: 24px;
  padding: 0px 0;
  margin-left: 10px;
  color: #fff;
}

.mode-container:hover {
  color: var(--primary-color);
}

.mode-container i {
  font-size: 15px;
}

.gg-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat
      5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px
      6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px
      2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

.gg-moon,
.gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
  /* color: #fff; */
}

.nav-fixed .gg-moon,
.nav-fixed .gg-moon:after {
  color: #060606;
}

.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.gg-sun,
.gg-sun:after,
.gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.gg-sun:after,
.gg-sun:before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun:before {
  transform: rotate(-45deg);
}

.gg-sun:after {
  transform: rotate(45deg);
}

.mode-container i.gg-sun {
  display: none;
}

.mode-container i.gg-moon {
  display: block;
  cursor: pointer;
}

input:checked + .mode-container i.gg-sun {
  display: block;
  cursor: pointer;
}

input:checked + .mode-container i.gg-moon {
  display: none;
}

ul#menu {
  margin: 0;
  padding: 0;
  font-size: 29px;
  color: #fff;
}

.nav-fixed ul#menu {
  color: #060606;
}

ul#menu > li {
  list-style-type: none;
  position: relative;
  width: 100%;
  float: left;
}

ul#menu input {
  display: none;
}

ul#menu label {
  position: relative;
  display: block;
  cursor: pointer;
  text-align: center;
  margin: 0;
}

ul#menu label span {
  line-height: 1em;
}

ul.submenu {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background: #fff;
  transition: max-height 0.5s ease-out;
  position: absolute;
  min-width: 8em;
  right: 0;
  border-radius: 4px;
  box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
}

ul#menu input:checked ~ ul.submenu {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
}

ul.submenu li a {
  display: block;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s;
  color: #060606;
}

ul.submenu li.current_page_item a {
  color: var(--primary-color);
}

ul.submenu li a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

nav ul li {
  text-align: center;
}

/* start banner */
#banner .row {
  height: 100vh;
  position: relative;
}

#banner .slider-container {
  position: relative;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.banner-left {
  position: absolute;
  left: 10em;
  z-index: 2;
}

.banner-left h2 {
  color: #f4f4f4;
  font-size: 120px;
  font-weight: 700;
  margin: 0;
  margin-left: -0.5em;
}

.banner-left h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}

.banner-left p {
  font-family: var(--font-sans);
  font-size: 20px;
  line-height: 27px;
  color: #707070;
  margin: 0;
  padding: 0;
}

.banner-right {
  position: relative;
  z-index: 1;
}

.slider-item.item-1 {
  background-image: url(./img/b1.jpg);
}

.slider-item.item-3 {
  background-image: url(./img/b4.jpg);
}

.slider-item.item-2 {
  background-image: url(./img/b8.jpg);
}

.slider-item {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 40px 0;
  position: relative;
}

.slider-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 17%);
  top: 0;
}

.banner-slider .item-layout {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slick-dots {
  position: absolute;
  bottom: 18px;
  left: 1px;
  /* width: 40%; */
  width: 100%;
  z-index: 2;
}

.slick-dots li {
  width: 13px;
}

.slick-dots li button::before {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  opacity: 1;
  background-color: #fff;
  content: "";
}

.slick-dots li.slick-active button:before {
  background-color: rgb(251, 129, 30);
  opacity: 1;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slider-item .item-layout .fake-counter {
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 80px;
  right: 16.75px;
}

.slider-item .item-layout .fake-counter h4 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  color: #fff;
}

.slider-item .fake-counter span {
  font-size: 24px;
  font-family: var(--font-sans);
}

.slider-item .fake-counter p {
  line-height: 27px;
  font-size: 17px;
  margin: 0;
  color: #fff;
}

/* FEATURES */
.features-left .txt-para {
  margin: 0;
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}

.features-right .f-right-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.f-right-grid .item-container {
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 3%);
  background-color: #fff;
}

.f-right-grid .item-container:hover {
  transition: 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.f-right-grid .item-container img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}

.f-right-grid .item-container a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #060606;
}

.f-right-grid .item-container a:hover {
  color: #009f4d;
  transition: 0.5s;
}
/* end fearture */
/* Start services */
#services {
  background-color: #009f4d;
}
.services-header {
  z-index: 1;
}

h4.services-txt-bg-content {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

#services h5.small-header {
  color: #fff;
}
#services h3.section-title {
  color: #ffffff;
}
#services p.txt-services {
  color: #fff;
  font-weight: 300;
  font-size: 1.25rem;
}
/* service cards */
#services .card {
  border: none;
  background: none;
}
#services .card img {
  width: 100%;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#services .card-wrap-idea {
  background-color: white;
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border: 1px solid #eee;
  border-top: none;
}
#services .card-wrap-idea span {
  color: #009f4d;
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: bold;
}
#services .card-wrap-idea a {
  display: block;
  font-size: 24px;
  margin: 10px 0;
  font-weight: 600;
  color: #060606;
  transition: 0.5s;
  cursor: pointer;
}
#services .card-wrap-idea a:hover {
  color: #009f4d;
}

/* End services */

/* EXPECT */
#expect .grids_info {
  box-sizing: inherit;
}

#expect .grids_info span.fa {
  font-size: 30px;
  /* box-sizing: inherit; */
  color: var(--primary-color);
  /* font-stretch: 100%; */
  /* font-weight: 400; */
}

#expect .grids_info span.fa.re-size-fa {
  font-size: 25.728px;
}

#expect .grids_info h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

.radius-image {
  border-radius: 30px;
}

.imginfo__box {
  background-color: var(--primary-color);
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}

.imginfo__box .imginfo__title {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}

.imginfo__box p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
}
<<<<<<< HEAD
=======

/* End expect */

/* HOMEPAGE SERVICES */
.mt-30 {
  margin-top: 30px;
}

.homepage_item_info h4 {
  line-height: 25px;
  font-weight: 600;
}

.homepage_item_info p {
  margin-top: 10px;
}

.homepage-services-unit {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 2rem 1rem;
  transition: 0.3s ease-in;
}

.homepage-services-unit:hover {
  border: 1px solid #eee;
  padding: 2rem 1rem;
  transition: 0.3s ease-in;
}

/* Gallery start */
#gallery {
  display: grid;
  grid-gap: 0.5em;
}

.grow_effect h5 {
  color: #fb811e;
  font-size: 22px;
}

.grow_effect h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}

.gallery-content {
  padding: 0px;
  margin: 0px;
  position: relative;
  overflow: hidden;
}

.gallery-img-grid img {
  width: 100%;
  height: auto;
  /* position: relative; */
}

h5.gall-text {
  position: absolute;
  z-index: 0;
  color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  background: rgb(255 255 255 / 27%);
  padding: 6px;
  margin: 20px;
  text-align: center;
}

.hover14 .gallery-content:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-17deg);
  transition: 0.95s;
}

.hover14 .gallery-content:hover::before {
  animation: shine 0.95s;
}

/* Eddit Fancy-Box */
.carousel__button fancybox__button--zoom {
  display: none;
}
.carousel__button fancybox__button--slideshow {
  display: none;
}
.carousel__button fancybox__button--fullscreen {
  display: none;
}
.carousel__button fancybox__button--thumbss {
  display: none;
}
/* End gallery */
/* Animation for keyframes */

@keyframes shine {
  100% {
    left: 125%;
  }
}
/* Gallery end */

/* TESTIMONIAL */
#testimonials {
  position: relative;
  background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/bg1.jpg);
  /* background-repeat: no-repeat; */
  /* background-position: top center; */
  /* background-size: cover; */
}

#testimonials::before {
  content: "";
  background: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}

.testimonial-content {
  max-width: 900px;
  margin: auto;
}

.testimonial-content .testi-des {
  text-align: center;
}

.testimonial-content a.testi-img {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.testimonial-content .peopl {
  margin: 0;
}

.testimonial-content .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 5px;
  color: #fff;
}

.testimonial-content p.identity {
  color: #fff;
  font-size: 16px;
}

.testimonial-content span.fa {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
  display: inline-block;
}

.testimonial-content q {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
}

.owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 75px;
  background: none;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
  bottom: -90px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}

/* .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 1px;
  background: #aaa;
  display: block;
  transition: opacity 0.2s ease;
  position: relative;
  opacity: 0.9;
  border-radius: 30px;
} */

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
  opacity: 1;
}
/* FOOTER */
.footer-p p a {
  color: #707070;
}

.footer-p p a:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

.footer-p .CopyRights a {
  color: #009f4d;
}

.subscribe input[type="email"] {
  background: #f4f4f4;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  color: #707070;
  border: 1px solid #eee;
  border-radius: 30px 0px 0px 30px;
}

.subscribe button {
  background: #009f4d;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 12px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
  transition: 0.3s;
}

.subscribe button:hover {
  opacity: 0.8;
  transition: 0.3s;
}

footer ul.social {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul.social li {
  display: inline-block;
  margin-right: 5px;
}

footer ul.social li a {
  color: #009f4d;
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

footer ul.social li a span {
  font-size: 15px;
  line-height: 35px;
}

footer h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #060606;
}

footer .column-2 p {
  line-height: 24px;
}

/* move top button */
#movetop {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 9;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 40px;
  height: 40px;
  background: #009f4d;
  border-radius: 4px;
  padding: 0;
}

>>>>>>> 59f2bb3 (Hoan thanh)
/* media querry */
@media (max-width: 1440px) {
  .banner-left h2 {
    font-size: 100px;
  }

  .banner-left h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .features-left .txt-para {
    line-height: 26px;
  }

  .homepage_item_info h4 {
    font-size: 19px;
  }

  p {
    line-height: 26px;
  }

  .homepage-services-unit,
  .homepage-services-unit:hover {
    padding: 1.5rem 0.5rem;
  }
}

@media (max-width: 1190px) {
  footer h3 {
    font-size: 16px;
  }
}

@media (max-width: 1150px) {
  .banner-left {
    left: 5em;
  }

  .banner-left h2 {
    font-size: 90px;
  }

  .banner-left h3 {
    font-size: 35px;
    line-height: 45px;
  }

  .banner-left p {
    font-size: 17px;
    line-height: 26px;
  }
}

@media (max-width: 991px) {
  header.main-header {
    height: auto;
    padding: 17px 0;
  }

  .banner-left {
    left: 2em;
  }

  .banner-left h2 {
    font-size: 80px;
  }

  .banner-left h3 {
    font-size: 32px;
    line-height: 42px;
  }

  header.nav-fixed {
    height: auto;
    padding: 14px 0;
  }

  .banner-left__content {
    background: #fff;
    padding: 3em 2em 2em 4em;
    border-radius: 8px;
  }

  h5.small-header {
    font-size: 20px;
  }

  .section-title {
    font-size: 35px;
    line-height: 45px;
  }

  .homepage_item_info h4 {
    font-size: 20px;
  }

  footer h3 {
    margin-bottom: 10px;
  }
}

@media (max-width: 801px) {
  .f-right-grid .item-container {
    padding: 1.5em;
  }

  footer h3 {
    margin-bottom: 18px;
  }
}

@media (max-width: 768px) {
  .main-header .navbar-brand {
    color: #fb811e;
  }

  .main-header.nav-fixed .navbar-brand {
    color: #fb811e;
  }

  .banner-left {
    left: 0em;
    padding: 2em;
  }

  h5.small-title {
    font-size: 18px;
  }
}

@media (max-width: 736px) {
  .testimonial-content .testimonial .peopl h3 {
    font-size: 20px;
    margin-bottom: 0;
  }

  .testimonial-content q {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (max-width: 667px) {
  .features-left .txt-para {
    margin: 14px 0 26px;
  }

  .f-right-grid .item-container a {
    font-size: 18px;
  }
}

@media (max-width: 568px) {
  .banner-left h2 {
    font-size: 70px;
  }

  .banner-left h3 {
    font-size: 28px;
    line-height: 38px;
  }

  .banner-left p {
    font-size: 16px;
  }

  .features-left .txt-para {
    margin: 0;
    margin-bottom: 10px;
  }

  .f-right-grid .item-container a {
    margin-bottom: 7px;
  }
}

@media (max-width: 480px) {
  .banner-left {
    padding: 1em;
  }

  .banner-left h2 {
    font-size: 60px;
  }

  .banner-left h3 {
    font-size: 25px;
    line-height: 35px;
  }

  .navbar .navbar-brand,
  a.footer-logo {
    font-size: 28px;
    color: var(--primary-color);
  }

  .banner-left__content {
    padding: 2.5em 2em 2em 2.5em;
  }
}

@media (max-width: 440px) {
  .features-left .txt-para {
    font-size: 15px;
  }

  .features-right .f-right-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 415px) {
  .testimonial-content .testi-des {
    margin-top: 30px;
  }

  .testimonial-content a.testi-img {
    width: 75px;
    height: 75px;
  }

  .testimonial-content .testimonial .peopl h3 {
    font-size: 18px;
  }
}
